<header class="user-acq-header">
  <h1>Sign in!</h1>

</header>

<form class="user-acq-form group" action="<%=session_url%>" method="post">
  <%= auth_token %>

  <label>Email Address</label>
    <input class="user-acq-input" type="text" name="user[email]">

  <label>Password</label>
    <input class="user-acq-input" type="password" name="user[password]">

  <input class="user-acq-button" type="submit" value="Sign in!">

</form>


<form class="toggle-existing-user-button"
      action="<%= new_user_url %>"
      method="get">
  <input type="submit" value="New user? Sign up!">
</form>
