//DogDetail Page

.dog-show-content {
  background: #F3F5F9;
  width: 900px;
  height: 100%;
  margin: auto;
  border-radius: 3px;
  color: #474D59;
}

.dog-show-label {
  display: inline-block;
  width: 200px;
}

.dog-show-info {
  display: block;
  width: 650px;
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}

.dog-show-photos > li > img {
  margin: 20px;
  border: 1px solid darkblue
}

.favorite-button {
  float: right;
  margin: 5px;
  padding: 10px;
  background: lightblue;
  border: 1px solid red;
  border-radius: 3px;
}

.favorite-button:hover {
  background: darkblue;
  cursor: pointer;
  color: white;
}


//Dogs Index Page
.browse-items {
  display: block;
  background: #F3F5F9;
  width: 900px;
  height: 100%;
  margin: auto;
  border-radius: 3px;
  color: black;
}

.dogs-index {
  width: 500px;
  height: auto;
  float: left;
  margin: 20px;
  padding: 10px;
}

.browse-item {
 width: 500px;
}

.browse-item > div {
  display: block;
  width: 480px;
  margin: 10px;

}

.browse-item:hover {
  cursor: pointer;
  color: red;
}

.next-page {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background: lightblue;
  border: 1px solid red;
  border-radius: 3px;
}

.next-page:hover {
  background: darkblue;
  cursor: pointer;
  color: white;
}
