.favorites-index {
  display: block;
  height: 100%;
  margin: 0 0 0 20px;

}

.favorites-index-item {
  position: relative;
  float: left;
  width: 400px;
  height: 400px;
  padding: 48px;
  margin: 5px;
  border: 1px solid transparent;

}

.favorites-name {
  color: white;
  text-shadow:
    -1px -1px 0 darkblue,
    1px -1px 0 darkblue,
    -1px 1px 0 darkblue,
    1px 1px 0 darkblue;
  font-size: 36px;
  font-weight: lighter;
  position: absolute;
  bottom: 100px;
  left: 200px;
  opacity: 0;
  z-index: 1;
}

.favorites-photo {
  position: relative;
}

.favorites-photo > img {
  position: absolute;
  overflow: hidden;
  clip: rect(0px, 400px, 400px, 0px);
}


.favorites-index-item:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}

.favorites-index-item:hover .favorites-name{
  opacity: 1;
}

.favorites-index-item:hover .favorite-status{
  opacity: 1;
}


.favorite-status {
  background: #00D280;
  padding: 6px;
  border-radius: 20px;
  letter-spacing: 3px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: 60px;
  left: 190px;
  z-index: 1;
  opacity: 0;
}
