.favorites-index {
  display: block;
  height: 100%;
  margin: 0 0 0 20px;

}

.favorites-index-item {
  position: relative;
  float: left;
  width: 400px;
  height: 400px;
  padding: 48px;
  margin: 5px;
  border: 1px solid transparent;

}

.favorites-name {
  color: white;
  text-shadow:
    -1px -1px 0 darkblue,
    1px -1px 0 darkblue,
    -1px 1px 0 darkblue,
    1px 1px 0 darkblue;
  font-size: 36px;
  font-weight: lighter;
  position: absolute;
  bottom: 100px;
  left: 0px;
  right: 0px;
  text-align: center;
  opacity: 0;
  z-index: 1;
}

.favorites-photo {
  position: relative;
}

.favorites-photo > img {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  clip: rect(0px, 400px, 400px, 0px);
}



.favorites-index-item:hover {

  border: 1px solid lightblue;
  border-radius: 3px;
}

.favorites-index-item:hover .favorites-name{
  opacity: 1;
}

.favorites-index-item:hover .favorite-destroy{
  cursor: pointer;
  opacity: 1;
}


.favorite-destroy {
  background: white;
  color: red;
  border: 1px solid red;
  padding: 6px;
  border-radius: 20px;
  font-size: 14px;
  position: absolute;
  left: 185px;
  bottom: 0px;
  opacity: 0;
}
