<header class="user-acq-header">
  <h1>Find your new best friend in minutes.</h1>
</header>

<form class="user-acq-form group" action="<%=new_user_url%>" class="splash">

  <h4>I am a </h4>
  <select>
    <option>Puppy</option>
    <option>Dog</option>
    <option>Canine</option>
    <option>Hound</option>
  </select>
  <select>
    <option>Cuddler</option>
    <option>Lover</option>
    <option>Enthusiast</option>
    <option>Admirer</option>
    <option>Nut</option>
  </select>

  <input class="user-acq-button" type="submit" value="Continue">

</form>


<form class="toggle-existing-user-button"
      action="<%= new_session_url %>"
      method="get">
  <input type="submit" value="Existing user? Sign in!">
</form>
