/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET*/

html, body, section, form, ul,
li, article, header,
h1, h2, h3, h4, p, select, option,
input, button, label, div, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
  background: #104DA1;
  color: white;
  font-size: 24px;
  text-shadow: 1px #7EC9F8;
}

/*CLEARFIX*/

.group:after {
  clear: both;
  display: block;
  content: "";
}

/*LOGO*/

.logo-header {
  color: #00B7F0;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  text-shadow:
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white;
  font-size: 90px;
  height: auto;
  width: 500px;
  margin: auto;
}

.logo {
  margin: 0 auto;
  width: 160px;
  height: auto;
  display: block;
  float: left;
}

.logo-header > h1 {
  float: left;
  display: inline-block;;
}

.logo-header > h1 > em {
  color: darkblue;
}

.greeting-user {
  font-size: 18px;
  padding: 5px;
  font-weight: lighter;
  display: inline-block;
}

.sign-out-button {
  font-size: 18px;
  display: inline-block;
  background: darkblue;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5%;
}
/*User Acquisition (splash page, new user, new session)*/


.user-acq-header {
  margin: auto;
  text-align: center;
  display: block;
}

.user-acq-header > h1 {
  margin: 20px;
  font-size: 48px;
  text-align: center;
  font-weight: lighter;
  text-shadow: 1px 1px #7EC9F8;
}

.user-acq-header > h3 {
  padding: 20px;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}

.user-acq-form > h4 {
  display: inline-block;
  width: auto;
  font-weight: lighter;
  color: #7EC9F8;
  margin: 20px;
  font-size: 24px;
  float: left;
}

.user-acq-form > select {
  margin: 10px;
  display: inline-block;
}


.user-acq-form {
  border: 1px solid lightblue;
  width: 600px;
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  padding: 20px;
}


.user-acq-form > label {
  display: block;
  width: 200px;
  font-weight: lighter;
  color: #7EC9F8;
  margin: 5px 0;
}

.user-acq-input {
  cursor: pointer;
  background: #BFEFFF;
  color: darkblue;
  width: 400px;
  box-sizing: border-box;
  display: block;
  border: 1px solid black;
  padding: 5px;
}

.user-acq-input:focus {
  background: white;
}

.user-acq-button {
  cursor: pointer;
  background: #00D280;
  padding: 15px;
  margin: 10px 0;
  color: white;
  font-size: 20px;
}

.user-acq-button:hover {
  color: darkblue;
}

.toggle-existing-user-button {
  cursor: pointer;
  display: inline-block;
  font-weight: lighter;
  float: right;
  margin: 30px 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightblue;
}

.toggle-existing-user-button:hover {
  background: lightblue;
}



/*tabs*/
.welcome {
  font-weight: lighter;
  color: lightblue;
}

.logout {
  cursor: pointer;
  display: inline-block;
  font-weight: lighter;
  float: right;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  border-left: 1px dashed lightblue;
}

.logout:hover {
  background: lightblue;
}

.tabs {
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-left: 1px dashed lightblue;
  height: 60px;

}

.root-tab > img {
  width: 100px;
}

.root-tab {
  display: block;
  height: 60px;
  width: auto;
  box-sizing: border-box;
  border-right: 1px dashed lightblue;
  padding: 15px 0px;
  text-align: center;
  font-weight: lighter;
  width: 150px;
  float: left;
}

.root-tab:hover {
  cursor: pointer;
  background: lightblue;
}




/*profile*/
.profile-form {
  background: #104DA1;
  width: 300px;
  height: 400px;
  border: 1px solid lightblue;
  float: left;
}

.profile-form {
  width: 300px;
  height: auto;
  border: 1px solid lightblue;
  float: left;
  margin: 20px;
  padding: 10px;

}

.profile-form > h3 {
  color: pink;
  margin: 10px;
}

.profile-form > textarea {
  width: 280px;
  cursor: text;
  min-height: 60px;
}

.profile-form > img {
  width: 200px;
  height: auto;
}

.profile-param {

  cursor: text;
  width: 260px;
  height: auto;
  color: lightblue;
  font-size: 16px;
  margin: auto;
  padding: 10px 0;
}

.profile-param:focus {
  border: 1px dotted lightblue;
  background: lightgray;
  color: black;
}


/*profile search params*/
.profile-search {
  width: 200px;
  height: 250px;
  border: 1px solid lightblue;
  float: right;
  margin: 20px;
  padding: 10px;
}

.profile-search > h3 {
  color: pink;
  margin: 10px;
}

.profile-search > label {

}

.search-param {
  color: lightblue;
  font-size: 16px;
  width: 200px;
  margin: auto;
  background: #104DA1;
  cursor: text;
  padding: 10px 0;
}

.profile-search > input:focus {
  border: 1px dotted lightblue;
  background: lightgray;
  color: black;
}





















/**/
