/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET*/

html, body, section, form, ul,
li, article, header,
h1, h2, h3, h4, p,
input, label, div, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
  background: #104DA1;
  color: white;
  font-size: 24px;
  text-shadow: 1px #7EC9F8;
}

/*CLEARFIX*/

.group:after {
  clear: both;
  display: block;
  content: "";
}

/*LOGO*/

.logo-header {
  color: #00B7F0;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  text-shadow:
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white;
  font-size: 90px;
  height: auto;
  width: 500px;
  margin: auto;
}

.logo {
  margin: 0 auto;
  width: 160px;
  height: auto;
  display: block;
  float: left;
}

.logo-header > h1 {
  float: right;
}

.logo-header > h1 > em {
  color: darkblue;
}


/*SIGN-UP PAGE*/

.signup-header {
  margin: auto;
  text-align: center;
  display: block;
}

.signup-header > h2 {
  padding: 20px;
  font-size: 36px;
  text-shadow: 1px 1px #7EC9F8;
}

.signup-header > h3 {
  margin: 10px;
}

.form {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.signin-input {
  background: white;
  display: block;
}

.button_to {
  display: inline;
}

.form > ul > li {
  margin: 10px;
  float: left;
  display: block;
}

/*SPLASH PAGE */

.splash {
  background: #104DA1;
  color: white;
  font-family: sans-serif;
  text-align: center;
  width: 700px;
  margin: auto;
}

.splash > h1 {
  font-size: 36px;
  margin: 30px;
}

.splash > ul {
  text-align: center;
  margin: auto;
  width: 450px;

}

.splash > p {
  font-size: 24px;
  width: 100px;
  float: left;
  margin: 10px 0px;
}

.splash-dropdown {
  -webkit-appearance: none;
  /*-moz-appearance: none;
  appearance: none;*/
  padding: 10px;
  /*height: 200px;*/
  display: block;
  font-size: 16px;
  text-align: center;
  float: left;
  margin: 0px 10px;
}

.splash > input {
  /*margin: 10px;*/
  background: #0c0;
  padding: 10px;
  float: left;
  color: white;
  font-size: 16px;
}

/*tabs*/

.tab {
  display: block;
  padding: 10px;
  background: lightblue;
  width: 180px;
  float: left;
  border: 1px solid darkblue;
}


/*profile*/
.profile-form {
  background: #104DA1;
  width: 300px;
  height: 400px;
  border: 1px solid lightblue;
  float: left;
}

.profile-form {
  width: 300px;
  height: auto;
  border: 1px solid lightblue;
  float: left;
  margin: 20px;
  padding: 10px;

}

.profile-form > h3 {
  color: pink;
  margin: 10px;
}

.profile-form > textarea {
  width: 280px;
  cursor: text;
  min-height: 60px;

}

.profile-param {

  cursor: text;
  width: 260px;
  height: auto;
  color: lightblue;
  font-size: 16px;
  margin: auto;
  padding: 10px 0;
}

.profile-param:focus {
  border: 1px dotted lightblue;
  background: lightgray;
  color: black;
}


/*profile search params*/
.profile-search {
  width: 200px;
  height: 250px;
  border: 1px solid lightblue;
  float: right;
  margin: 20px;
  padding: 10px;
}

.profile-search > h3 {
  color: pink;
  margin: 10px;
}

.profile-search > label {

}

.search-param {
  color: lightblue;
  font-size: 16px;
  width: 200px;
  margin: auto;
  background: #104DA1;
  cursor: text;
  padding: 10px 0;
}

.profile-search > input:focus {
  border: 1px dotted lightblue;
  background: lightgray;
  color: black;
}





















/**/
