/*profile*/

.profile-items {
  background: #F3F5F9;
  width: 900px;
  height: 100%;
  margin: auto;
  position: relative;
  border-radius: 3px;
}

.breakpoint {
  position: absolute;
  top: 270px;
  left: 50px;
  display: block;
  width: 800px;
  margin: auto;
}

.profile-pic {
  height: 200px;
  margin: 0px 20px;
  border: 2px solid darkblue;
  float: left;
}

.upload-pic {
  color: black;
  font-size: 14px;
  width: 100%;
  margin: 0 0 40px 20px;
}

.profile-form {
  color: #474D59;
  width: 500px;
  height: auto;
  float: left;
  margin: 20px;
  padding: 10px;

}

.profile-form > h3 {
  float: left;
  margin: 10px 0;
  font-size: 32px;
  font-weight: lighter;
}

.profile-form > label {
  padding: 40px 0;
  width: 500px;
}

.profile-form > textarea {
  cursor: pointer;
  min-height: 60px;
}


.profile-param {
  cursor: pointer;
  width: 500px;
  height: auto;
  color: darkblue;
  font-size: 16px;
  margin: auto;
  padding: 10px 0;
}

.profile-param:focus {
  border: 1px dotted lightblue;
  background: lightgray;
  color: black;
}


/*profile search params*/
.profile-search {
  position: relative;
  width: 250px;
  height: 350px;
  box-sizing: border-box;
  float: right;
  margin: 250px 30px 0 0;
  padding: 10px;
}

.profile-search > h3 {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  width: 200px;
  color: white;
  background: #4C7BD9;

}

.profile-search > label {
  font-size: 16px;
  color: #4C4D59;
}

.search-param {
  margin: 0 0 0 20px;
  color: darkblue;
  display: block;
  font-size: 16px;
  width: 160px;
  cursor: pointer;
  padding: 10px 0;

}

.profile-search > input:focus {
  border: 1px dotted lightblue;
  background: lightgray;
  color: black;
}

.profile-search > button {
  cursor: pointer;
  background: #00D280;
  padding: 5px;
  color: white;
  margin: 5px;
  position: absolute;
  bottom: 0;
  left: 60px;
  text-align: center;
  font-size: 18px;
  border-radius: 3px;
}

.profile-search > button:hover {
  color: darkblue;
}
